:root {
    --primary-color: #2E2E38;
    --secondary-color: #0A5C43;
    --accent1-color: #fff8f0;
    --accent2-color: #0C1531;
    --padding: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: var(--accent1-color);
}

header,
main,
footer,
.grid {
    display: grid;
    max-width: 840px;
    margin: 0 auto;
}

header {
    grid-template-columns: 30% 70%;
    background-color: #0A5C43;
}

header img {
    place-self: center;
    margin: auto;
    mix-blend-mode: multiply;
    color: white;
}

header nav {
    margin: 0px 20px 0px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: large;
    color: var(--accent1-color);
    letter-spacing: 0.5px;
}

.hero {
    position: relative;
}

h1 {
    display: flex;
    position: absolute;
    margin-top: 15px;
    width: 100%;
    height: 80px;
    font-family: "Inter", sans-serif;
    color: var(--accent1-color);
    background-color: #2E2E3890;
    border: 2px solid rgb(0 0 0 / 0.2);
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article h3 {
    justify-items: center;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
    font-size: x-large;
    letter-spacing: .1rem;
}

.hero article img {
    float: right;
    margin: 30px;
    border: 2px solid rgb(0 0 0 / 0.2);
    width: 170px;
    box-shadow: 0 0 30px gray;
}

.hero article {
    position: absolute;
    margin: -270px 50px;
    background-color: #0A5C4399;
    border: 2px solid rgb(0 0 0 / 0.2);
    clear: both;
    justify-items: center;
    text-align: center;
    color: var(--accent1-color);
}

.hero p {
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .1rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    border-top: 2px solid #0C1531;
    margin-top: 50px;
    padding: 30px;
    text-align: left;
    color: var(--secondary-color);
    letter-spacing: .1rem;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 25px;
    font-size: 18px;
    font-weight: 300;
   
}
.history img {
    box-shadow: 0 0 30px gray;
}

section h3 {
    font-size: 20px;
    color: var(--secondary-color);
    font-family: "Inter", sans-serif;
}

.contact {
    text-align: center;

}

.contact a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.map {
    box-sizing: border-box;
    padding: 20px;
}

fieldset {
    display: block;
    padding: 15px;
    border-radius: 8px;
}

div form fieldset p,
input,
label,
legend {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

div form fieldset input,
textarea {
    margin-left: 10px;
    padding: 5px;
}


input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"] {
    cursor: text;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #0A5C43;
    color: var(--accent1-color);
    width: 80px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 0 3px gray;
    border: 1px solid rgb(0 0 0 / 0.5);
    border-radius: 8px;
    cursor: pointer;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.guides {
    display: flex;
    justify-content: space-evenly;
}

.guides img {
    margin: 10px 10px;
    width: 200px;
    height: 140px;
    object-fit: cover;
    box-shadow: 0 0 30px gray;
}

h4 {
    font-weight: 400;
}

.trips {
    display: flex;
    justify-content: space-evenly;
}

.trips img {
    margin: 10px 10px;
    width: 240px;
    object-fit: cover;
    box-shadow: 0 0 30px gray;
}

.equipment p {   
    display: block;
    margin: 0px 40px;
    font-size: 18px;
    letter-spacing: .05rem;

}

.equipment img {
    width: 200px;  
    margin: 25px 40px;
    float: left;
    box-shadow: 0 0 30px gray;
}

.gallery img {
    margin: 10px 10px;
    width: 140px;
    height: 90px;
    object-fit: cover;
    box-shadow: 0 0 30px gray;
}

figure {
    text-align: center;    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid var(--primary-color);
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    display: flex;
    margin-right: 10px;
    text-decoration: none;
}

.sociallinks {
    cursor: pointer;
    display: flex;
}

.table h3,
h4 {
    margin-bottom: 20px;
}

tr th {
    width: 70px;
    padding: 8px;
}

tr th,
td {
    /* width: 90px; */
    /* padding: 10px; */
    text-align: left;
}